@import '../../assets/scss/variables.scss';

.toggle-favorite {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  //position: absolute;
  margin: 15px 10px;
  right: 10px;
  background-color: $background-51;
}

.favorite-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.favorite-icon > span {
  filter: $box-shadow-01;
}

.favorite-icon > span:hover {
  filter: drop-shadow(0px 0px 5px rgb(100 0 0 / 1));
}

.tooltip {
@include tooltip;
}

.favorite-icon:hover .tooltip {
  display: block;
}