@import '../../assets/scss/variables.scss';

.toggle-favorite {
  margin: 5px 20px;
}

.favorite-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.favorite-icon {
  filter: drop-shadow(0px 0px 1px rgb(100 0 0 / 1));

  &:hover > span .tooltip {
    opacity: 1;
    position: absolute;
    transition: ease-in-out 0.3s;
    transition-delay: 1s;
    bottom: 30px;

  }
  &:active {
    filter: drop-shadow(0px 0px 5px rgb(234, 234, 234));
  }
}

.tooltip {
  @include tooltip;
}

