@import '../../assets/scss/variables.scss';

.toggle-favorite {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  //position: absolute;
  margin: 15px 10px;
  right: 10px;
  background-color: $background-51;
}

.favorite-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.favorite-icon {
  filter: drop-shadow(0px 0px 5px rgb(100 0 0 / 1));

  &:hover > span .tooltip {
    opacity: 1;
    position: absolute;
    transition: ease-in-out 0.3s;
    transition-delay: 1s;
  }
  &:active {
    filter: drop-shadow(0px 0px 5px rgb(234, 234, 234));
  }
}

.tooltip {
  @include tooltip;
}

