@import "./../../../assets/scss/variables.scss";

#grid {
  display: grid;
  grid-template-areas:
    ". grid-topnav grid-topnav grid-topnav .";
  grid-template-rows: 70px;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-gap: 20px;
}

.grid {
  background-color: $background-01;
  position: fixed;
  width:100%;
  box-shadow: $box-shadow-01;
  z-index: 1;
}

.top-navbar {
  grid-area: grid-topnav;
  display: flex;
  background-color: #fff;
  align-items: center;
  max-width: 1920px;
  top: 0;
}

.push {
  margin-left: auto;
  column-gap: 20px
}

.logo-container img {
  height: 40px;
}

.tooltip {
  visibility: hidden;
}

.tooltip:hover {
  visibility: visible;
}

.menu-link {
  @include menu-link;
}
Button {
  padding-left:20px;
}