@mixin form-input {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  background: #ffffff;
  border-radius: $border-radius-01;
  border: none;
  box-shadow: $box-shadow-01;
}

@mixin tooltip {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  bottom: 70px;
  padding: 15px;
  border-radius: $border-radius-01;
  background-color: #ffffff;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

@mixin menu-link {
  background-color: $background-02;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  text-decoration: none;
  color: $font-color-01;
  font-size: 14px;

  &:hover {
    background-color: $background-03;
    transition: ease-in-out 0.2s;
  }
}

@mixin login-form {
  //align-items: center;
  //display: flex;
  //flex-direction: column;
  //width: 90%;
  //background-color: $background-02;
  //box-shadow: $box-shadow-01;
  //padding: 80px;
}

@mixin error-message {
  color: $error-message;
  border: 1px solid $error-message;
  border-radius: $border-radius-01;
  padding: 10px;
  background-color: #ffffffa3;
  letter-spacing:1px;
  font-size: 10px;
  width:fit-content;
}

$border-radius-01: 6px;
$border-radius-search-button-01: 0px 6px 6px 0px;

/* background-colors */
$background-01: hsl(0, 0%, 100%);
$background-02: hsl(0, 0%, 95%);
$background-03: hsl(0, 0%, 90%);
$background-04: hsl(0, 0%, 85%);
$background-05: hsl(0, 0%, 75%);
$background-06: hsl(0, 0%, 60%);
$background-07: hsl(0, 0%, 50%);
$background-08: hsl(0, 0%, 40%);
$background-09: hsl(0, 0%, 30%);
$background-10: hsl(0, 70%, 10%, 0.2);
$background-11: hsl(0, 70%, 10%, 0.1);
$background-12: hsl(0, 0%, 90%, 0.65);
$background-20: hsl(0, 69%, 24%);
$background-21: hsl(0, 71%, 16%);
//rgba(234, 234, 234, 0.65)

/* Background-colors-transparant */
$background-51: hsla(0, 0%, 100%, 0.8);

/* box-shadows */
$box-shadow-01: 0px 0px 10px 5px rgb(0, 0, 0,  0.05);

/* font-colors */
$font-color-01: hsl(0, 0%, 20%);
$font-color-05: hsl(0, 74%, 38%);
$font-color-06: hsl(0, 70%, 26%);
$font-color-07: hsl(0, 70%, 10%);
$font-color-button: hsl(0, 0%, 100%);

$error-message: hsl(0, 77%, 45%);

/* width */
$width-01: 1200px;
$width-02: 1000px;
$width-03: 900px;

// color text
$title: $font-color-06;

//Distances
$gap-01: 10px;
$gap-02: 15px;
$gap-03: 20px;

//Button

$submit-button-background: hsl(0, 0%, 80%);
$submit-button-hover: $background-06;
$submit-button-disabled: hsl(0, 0%, 50%);

$filter-button-background: hsl(0, 0%, 90%);
$filter-button-hover: hsl(0, 0%, 80%);
$filter-button-active: hsl(0, 0%, 40%);

$reset-button-background: hsl(0, 0%, 95%);
$reset-button-hover: hsl(0, 0%, 80%);
$reset-button-active: hsl(0, 0%, 40%);

$favorite-button-background: hsl(0, 0%, 90%);
$favorite-button-hover: hsl(0, 0%, 90%);
$favorite-button-disabled: hsl(0, 0%, 100%);

$search-button-background: hsl(0, 69%, 24%);
$search-button-hover: hsl(0, 71%, 16%);
$search-button-disabled: hsl(0, 0%, 100%);
$search-button-active: hsl(108, 27%, 23%);
//$search-button-disabled: hsl(196, 66%, 37%);

$add-button-background: hsla(196, 70%, 50%, 0.98);
$add-button-hover: hsl(196, 66%, 42%);

$menu-button-background: hsl(351, 84%, 67%);
$menu-button-hover: hsl(349, 38%, 49%);
$menu-button-active: hsl(351, 42%, 36%);
//$search-button-active: hsl(108, 27%, 23%);
//$search-button-disabled: hsl(196, 66%, 37%);
/* shadows */
$button-shadow-01: 0 0 7px 7px rgba(0, 0, 0, 0.1);

$tooltip-shadow-01: 0 0 7px 7px rgba(0, 0, 0, 0.2);

/* TABLE */
$table01: hsl(0, 0%, 93%);
$table02: hsl(0, 0%, 100%);
