@import '../../../assets/scss/variables.scss';

#grid {
  display: grid;
}
#grid-searchbar {
  grid-area: grid-searchbar;
}
.footer-mailing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-03;
  height: 120px;
  gap:10px;
}
.mailinglist-input {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.mailinglist-input input {
  font-size: 16px;
  border-radius: 6px 0 0 6px;
}


.error-message {
  @include error-message;
}
