@import '../../assets/scss/variables.scss';

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  padding: 60px 0;
}

.single-recipe-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: $box-shadow-01;
  height: 400px;
  min-width: 320px;
  max-width: 500px;
  position: relative;
  background-color: $background-01;
  flex: 1 0 30%;
}

.image-container {
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}

.recipe-card-image {
  min-width: 100%;
  min-height: 100%
}

.recipe-card-text-container {
  height: 200px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card-title {
  hyphens: manual;
  text-decoration: none;
  display: inline-block;
  color: $font-color-06;
  letter-spacing: 1px;
}

.recipe-icons {
  padding: 18px;
}

.input-favorite {
  position: absolute;
  right: 0;
}