@import '../../assets/scss/variables';

.recipe-list {
  padding: 50px 20px 50px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.menu-link {
  @include menu-link;
}

.link__sidebar {
  @include sidebar__link;
  color: rgba(40, 40, 40, 0.82);

  &:hover {
    color: #000;
  }

}