@import "./../../assets/scss/variables.scss";

button {
  border-radius: $border-radius-01;
  padding: 10px 20px;
  border: none;
  letter-spacing: 2px;
}

.print,
.signin-button,
.register-button,
.menu-button{
  background-color: $menu-button-background;
  margin: 10px;

  &:hover {
    background-color: $menu-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $menu-button-active;
  }
}

.submit-button {
  background-color: $menu-button-background;
}

.reset-amount-button {
  color: $background-01;
  background-color: $menu-button-active;
  margin-bottom: 10px;

}

.not {
  font-size: 300%;
}

.reset-button,
.submit-button {
  background-color: $reset-button-background;
  padding: 10px;
  border-radius: 0;
  font-size: 100%;
  font-weight: 500;

  &:hover {
    background-color: $menu-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $reset-button-active;
  }
}

.submit-button {
  background-color: $menu-button-background;
  border-radius: $border-radius-01;
  margin-top: 20px;

}
.share,
.mailinglist-button,
.recipe-search-button {
  background-color: $search-button-background;
  color: $font-color-button;
  box-shadow: none;
  margin: 0;
  height: 100%;
  border-radius: $border-radius-search-button-01;
  font-weight: 700;
  border: none;

  &:disabled {
    background-color: $search-button-disabled;
  }

  &:hover {
    background-color: $search-button-hover;
    transition: ease-in-out 0.2s;
  }

  &:active {
    background-color: $search-button-active;
  }
}

.inloggen {
  border: 10px;
  background-color: $submit-button-background;
}


.add-button {
  background-color: $add-button-background !important;
  color: white !important;

  &:hover {
    background-color: $add-button-hover !important;
    transition: ease-in-out 0.2s;
  }
}

.filter-button {
  width: 100%;
  background-color: $add-button-hover !important;
  padding: 20px 0;
  color: #fff;
  margin: 20px 0;

  &:hover {
    background-color: $background-20 !important;
  }
}

.favorite-button {
  background-color: $background-01;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  box-shadow: $box-shadow-01;

  &:hover {
    background-color: $favorite-button-hover;
    transition: ease-in-out 0.3s;
  }
}

.favorite-button, label:after {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  color: $font-color-06;
  justify-content: center;
  align-items: center;
}

.use-button,
.use-all-button {
  width: fit-content;
  color: $font-color-button;
  background-color: $add-button-background;
  font-weight: 800;
  margin-top: 20px;
  border-radius: 0;

  &:hover {
    background-color: $add-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $menu-button-active;
  }
}

.use-button {
  width: 100%;
  font-weight: 500;

}