@import "./../../assets/scss/variables.scss";

.signin-button, .register-button {
  background-color: $menu-button-background;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 100%;
  font-weight: 500;
  margin: 10px;
  border: solid 3px $menu-button-background;
  letter-spacing: 2px;

  &:hover {
    background-color: $menu-button-hover;
    border: solid 3px $menu-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $menu-button-active;
  }
}

.recipe-search-button {
  background-color: $menu-button-background;
}

.signin-button {
  background-color: $background-01;
}

.reset-button, .mailinglist-button, .recipe-search-button {
  box-shadow: none;
  padding: 0 10px 0 10px;
  margin: 0;
  height: 100%;
  border-radius: 0 6px 6px 0;
  letter-spacing: 2px;
  font-weight: 700;
  border: none;
}

.reset-button, .submit-button  {
  background-color: $reset-button-background;
  padding: 10px;
  border-radius: 0;
  font-size: 100%;
  font-weight: 500;

  &:hover {
    background-color: $reset-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $reset-button-active;
  }
}

.mailinglist-button, .recipe-search-button {
  background-color: $search-button-background;
  color: $font-color-button;


  &:disabled {
    background-color: $search-button-disabled;
  }

  &:hover {
    background-color: $search-button-hover;
    transition: ease-in-out 0.2s;
  }

  &:active {
    background-color: $search-button-active;
  }
}

.inloggen {
  border: 10px;
  background-color: $submit-button-background;
}


.add-button {
  background-color: $add-button-background !important;
  //color: red!important;
  color: white !important;

  &:hover {
    background-color: $add-button-hover !important;
    transition: ease-in-out 0.2s;
  }
}

.h3 {
  color: white !important;

}

//.submit-button {
//  padding-top: 25px;
//  width: 100%;
//  background-color: $background-20;
//}

.filter-button {
  width: 100%;

  &:hover {
    background-color: $background-20 !important;
  }
}

.favorites {
  //box-shadow: none!important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.favorites, label:after {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  color: $font-color-06;
  justify-content: center;
}
