@import "./../../assets/scss/variables.scss";

button {
  border-radius: 6px;
  padding: 10px 20px;
  //border: none;
  letter-spacing: 2px;

}
.signin-button,
.register-button {
  background-color: $menu-button-background;
  font-weight: 500;
  margin: 10px;
  border: solid 3px $menu-button-background;

  &:hover {
    background-color: $menu-button-hover;
    border: solid 3px $menu-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $menu-button-active;
  }
}

.recipe-search-button {
  background-color: $menu-button-background;
}

.signin-button {
  background-color: $background-01;
}
.reset-amount-button {
  color: $background-01;
  background-color: $menu-button-active;

}
//.reset-button,
.mailinglist-button,
.recipe-search-button {
  box-shadow: none;
  margin: 0;
  height: 100%;
  border-radius: 0 6px 6px 0;
  font-weight: 700;
  border: none;
}
.not {
  font-size: 300%;
}
.reset-button,
.submit-button  {
  background-color: $reset-button-background;
  padding: 10px;
  border-radius: 0;
  font-size: 100%;
  font-weight: 500;

  &:hover {
    background-color: $reset-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: $reset-button-active;
  }
}

.mailinglist-button,
.recipe-search-button {
  background-color: $search-button-background;
  color: $font-color-button;

  &:disabled {
    background-color: $search-button-disabled;
  }

  &:hover {
    background-color: $search-button-hover;
    transition: ease-in-out 0.2s;
  }

  &:active {
    background-color: $search-button-active;
  }
}

.inloggen {
  border: 10px;
  background-color: $submit-button-background;
}


.add-button {
  background-color: $add-button-background !important;
  //color: red!important;
  color: white !important;

  &:hover {
    background-color: $add-button-hover !important;
    transition: ease-in-out 0.2s;
  }
}

.filter-button {
  width: 100%;

  &:hover {
    background-color: $background-20 !important;
  }
}

.favorite-button {
  background-color: $background-01;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  box-shadow: $box-shadow-01;
  &:hover {
    background-color: $favorite-button-hover;
    transition: ease-in-out 0.3s;
  }
}

.favorite-button, label:after {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  color: $font-color-06;
  justify-content: center;
  align-items: center;
}
