@import '../../assets/scss/variables.scss';

.label {
  font-size: 16px;
  color: $font-color-01;
  letter-spacing: 1px;
}
.form-field {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.form-field input {
  font-size: 16px;
  border-radius: 6px 0 0 6px;
}

.input-field {
  @include form-input;
  height: 35pt;
}
// TODO: transform from 0 til 100% visible
.error-message {
  @include error-message;
}
