@import '../../assets/scss/variables.scss';

.label {
  font-size: 16px;
  color: $font-color-01;
  letter-spacing: 1px;
}

.input-field {
  display: flex;
  height: 35px;
  margin: 5px;
  width: 500px;
  border: none;
  outline: none;
  letter-spacing: 1px;
}

.input-field {
  @include form-input;
  height: 35pt;
  margin: 10px 0;
}

.error-message {
  @include error-message;
}