@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    ". grid-sidebar grid-maintop grid-maintop ."
    ". grid-main grid-main grid-main ."
    ". grid-main-bottom grid-mainbottom grid-mainbottom .";
  grid-template-rows:  auto auto 50px auto;
  grid-template-columns: 0.5fr 2fr 4fr 4fr 0.5fr;
  grid-gap: 20px;
}

/* Filters */
#grid-sidebar {
  display: none;
}

#grid-main {
  grid-area: grid-main;
}