@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
          //". grid-pageheader grid-pageheader grid-pageheader ."
          ". grid-main grid-main grid-main ."
          ". grid-sidebar grid-footer grid-footer .";
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 1fr 2fr 2fr 0.5fr;
  grid-gap: 10px;
}

#grid-main {
  display: flex;
  grid-area: grid-main;
  justify-content: center;
}

#grid-footer {
  display: flex;
  grid-area: grid-main;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2200px;
}
