@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    ". grid-maintop grid-maintop grid-maintop ."
    ". grid-main grid-main grid-main ."
    ". grid-mainbottom grid-mainbottom grid-mainbottom .";
  grid-template-rows: 50px auto 50px ;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-gap: 20px;
}

#grid-main {
  grid-area: grid-main;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
@include login-form;
}

.input-field {
  @include form-input;
  height: 35pt;
  margin: 10px 0;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
}
//
//
//.register-form {
//  width: 550px;
//  padding: 50px;
//  background-color: $background-03;
//  border-radius: $border-radius-01;
//}

form > label {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: space-between;
  align-content: center;
  width: 320px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;

}

.registration-form-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  /*justify-content: space-between;*/
  /*width:350px;*/
}
.text-block {
  padding-top:30px;
}
/* typo */
.form-error-message {
  color: red;
  font-size: 75%;
  padding-top: 5px;
  padding-left: 10px;
}
