@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    ". grid-sidebar grid-maintop grid-maintop ."
    ". grid-sidebar grid-main grid-main ."
    ". grid-sidebar grid-mainbottom grid-mainbottom .";
  grid-template-rows: 50px auto 100px;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-gap: 20px;
}

/* Filters */
#grid-sidebar {
  grid-area: grid-sidebar;
  padding: 0 50px 50px 0;
}

.filtercontainer {
  flex-wrap: wrap;
  box-shadow: $box-shadow-01;
  margin-bottom: 40px;
}

#grid-main {
  grid-area: grid-main;
}

#grid-maintop {
  grid-area: grid-maintop;
  //padding: 40px;
  color: $font-color-06;
}

.recipes-found {
  font-family: 'museo sans rounded', sans-serif;
  grid-area: grid-maintop;
  font-size: 24px;
}

.filter-title-container {
  font-family: 'museo sans rounded', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 1px;
  background-color: $background-02;
  color: $title;
  font-size: 95%;
  line-height: 20px;
  padding: 10px 20px;
}

.filter-button {
  width: 100%;
  margin: 0;
  box-shadow: none;
  background-color: $filter-button-background;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 15px 10px 15px;

  &:hover {
    transition: background-color ease-in-out 0.5s;
    background-color: $filter-button-hover;
  }

  &:active {
    background-color: $filter-button-active;
  }
}

/* pagination */
#grid-mainbottom {
  grid-area: grid-mainbottom;
}

.pagination-button {
  border-radius: 5px;
  border: 0 solid;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px 10px 10px;
  background-color: $submit-button-background;

  &:hover {
    background-color: $submit-button-hover;
    transition: ease-in-out 0.5s;
  }

  &:active {
    background-color: aqua;
  }

}

.pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

