@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    ". grid-sidebar grid-maintop grid-maintop ."
    ". grid-sidebar grid-main grid-main ."
    ". grid-sidebar grid-mainbottom grid-mainbottom .";
  grid-template-rows: 50px auto 50px 50px auto auto 50px auto;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-gap: 10px;
}

/* Filters */
#grid-sidebar {
  grid-area: grid-sidebar;
}

.filtercontainer {
  flex-wrap: wrap;
  box-shadow: $box-shadow-01;
  margin-bottom: 40px;
}

#grid-main {
  grid-area: grid-main;
}

.grid-maintop {
  grid-area: grid-maintop;
  padding: 40px;
  color: $font-color-06;
}

.recipes-found {
  grid-area: grid-maintop;
  font-size: 24px;
}

.filter-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 200px;
  letter-spacing: 1px;
  background-color: $background-02;
  color: $title;
  font-size: 18px;
  font-weight: bold;
  text-indent: 10px;
}

.filter-button {
  width: 100%;
  margin: 0;
  box-shadow: none;
  background-color: $background-03;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 0;
}

/* pagination */
#grid-mainbottom {
  grid-area: grid-mainbottom;
}

.pagination > button {
  font-size: 12px;
}

.pagination {
  display: flex;
  align-content: center;
  justify-content: center;
}

