@import '../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    ". grid-maintop grid-maintop grid-maintop ."
    ". grid-main grid-main grid-main ."
    ". grid-mainbottom grid-mainbottom grid-mainbottom .";
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 20px 2fr 2fr 2fr 20px;
  grid-gap: 20px;
}

#grid-main {
  grid-area: grid-main;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  @include login-form;
}

.input-field {
  @include form-input;
  height: 35pt;
  margin: 10px 0;
}

form > label {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  //margin:20px;
  justify-content: space-between;
  align-content: center;
  width: 320px;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: none;
}
.text-block {
  padding-top:30px;
}