@import '../../assets/scss/variables.scss';

.favorites {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorites-text {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 4px;
  font-size: 125%;
  color: $font-color-01;
}
