@import '../../assets/scss/variables.scss';

.favorites {
  display: flex;
  align-items: center;
  gap: 20px;
}

.favorites-text {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  padding-top: 4px;
  color: $font-color-01;
}
