@import '../../../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    "grid-top"
    "grid-searchbar";
  grid-template-rows: 70px auto;
}

#pageheader {
  grid-area: grid-searchbar;
}

.pageheader {
  border-bottom: 0 solid white;
  background: url(../../../assets/images/pageheader-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -4vw;
}

.pageheader-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  font-family: "SantEliaRough", "serif" !important;
  font-size: 6vw;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(113 20 20 / 99%);
  text-align: center;
}
//h1 {
//
//}

.searchbar {
  display: flex;
  justify-content: center;
}

.searchbar-input {
  display:flex;
  flex-direction: row;
  align-items: center;
  //@include form-input;
}

.searchbar-input input {
  font-size: 20px;
  border: none;
  display: flex;
  width: 500px;
  outline: none;
  letter-spacing: 1px;
  border-radius: 6px 0 0 6px;
}

.label {
  font-size: 20px;
  color: $font-color-01;
  letter-spacing: 1px;
}

.error-message {
  @include error-message;
  margin-top: 70px;
}

