@import '../../../assets/scss/variables.scss';

#grid {
    display: grid;
    grid-template-areas:
    "grid-pageheader";
    grid-template-rows: auto;
}
#pageheader {
    grid-area: grid-pageheader;
}
.pageheader {
    border-bottom: 0px solid white;
    background: url(../../../assets/images/pageheader-image.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -4vw;
}
.searchbar {
    display: flex;
    justify-content: center;
}

.search-input {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    background: $background-01;
    border-radius:6px;
    border:none;
    box-shadow: $box-shadow-01;
}
.searchbar input {
    font-size: 20px;
    border:none;
    display:flex;
    margin: 5px;
    width: 500px;
    outline: none;
    letter-spacing: 1px;
}

.error {
    position:absolute;
    padding: 5px 10px;
    background-color: $background-02;
    border-radius:6px;
    letter-spacing: 1.5px;
}
.label {
    font-size: 20px;
    color: $font-color-01;
    letter-spacing: 1px;
}

.error-message {
    color: $error-message;
    position: absolute;
    border: 1px solid $error-message;
    border-radius: 6px;
    padding: 10px;
}

.pageheader-text {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing:2px;
    color: #ffffff;
    text-shadow: 0 0 5px $font-color-07;
    text-align: center;
    height:20vw;
}