@import '../../assets/scss/variables.scss';


.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socials img {
  display: flex;
  height: 16px;
  width: 16px;
  margin-left: 20px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}