@import '../../assets/scss/variables.scss';

.favorite-recipe-card-heading > h2 {
  padding-bottom: 0 !important;
}

.favorite-recipe-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.favorite-recipe-card-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.favorite-recipe-image {
  border-radius: 10px 10px 0 0;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.left-column, .middle-column, .right-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  gap: 20px;
}

.left-column {
  display: flex;
  border-radius: 10px;
  box-shadow: $box-shadow-01;
  background-color: #fff;
  height: 100%;
  position: relative;
}

.favorite-recipe-image {
  width: 100%;
}

.toggle-recipe {
  padding-right: 20px;
}
.recipe-icons {
  padding: 0 0 10px 10px;
}