@import '../../assets/scss/variables.scss';

ul {
    list-style-type: none;
    padding: 10px;
}
.filter {
    line-height: 25px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow:auto;
    overflow-x: hidden;
    background-color: $background-01;
}
.filter-item {
    height: 30px;
    letter-spacing: 1px;
}
.filter-checkboxes {
    font-size: 85%;
    max-width: 150px;
    line-height: 25px;
    position: relative;
}

.filter-title {
    color:$title;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.filter-input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
    background-color: red;
    &:checked + label {
        width: 19px;
    }
}

.filter-input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

