@import '../../../assets/scss/variables.scss';

#grid {
  display: grid;
  grid-template-areas:
    "grid-footer grid-footer grid-footer grid-footer grid-footer";
  grid-template-columns: 20px 2fr 2fr 2fr 20px;
  grid-template-rows: auto;
  gap: 20px;
}

#grid-footer {
  grid-area: grid-footer;
  background-color: $background-04;
  padding: 50px;
}

#grid-footer h1 {
  padding-bottom: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.footer-section {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}