@import '../../assets/scss/variables.scss';

.recipe-info {
  display: flex;
  border-radius: 6px;
}

.recipe-info-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 15px 15px;

  &:hover .tooltip {
    opacity: 1;
    position: absolute;
    transition: ease-in-out 0.3s;
    transition-delay: 1s;
  }

  &:hover .recipe-icon {
    opacity: 1;
  }
}

.recipe-icon {
  height: 45px;
  opacity: 0.6;
}

.tooltip {
  opacity: 0;
  position: absolute;
  bottom: 70px;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  background-color: $tooltip-background-color;
  box-shadow: $tooltip-shadow-01;
  text-align: $tooltip-text-align;
  font-size: $tooltip-text-size;
  z-index: 1;
}
