@import '../../assets/scss/variables.scss';

.recipe-info {
  display: flex;
}

.recipe-info-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &:hover .tooltip {
    opacity: 1;
    position: absolute;
    transition: ease-in-out 0.3s;
    transition-delay: 1s;
  }

  &:hover .recipe-icon {
    opacity: 1;
  }
}

.recipe-icon {
  max-height: 20px;
  height: 3vw;
  opacity: 0.6;
  padding-right:10px;
}

.tooltip {
  @include tooltip;
}
